body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.modal {
	width: 90%;
	left: 5%;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	padding: 10px 0;
	margin-top: 30px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}